
html
  head
    script(src='https://unpkg.com/leaflet@1.0.2/dist/leaflet.js')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.0.2/dist/leaflet.css')
  style.
    #map {
    height: 500px; }

  body
    div
block content
    #map
    script.
      var map = L.map('map').
      setView([4.65429,-74.10076],
      14);
      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 20
      }).addTo(map);
      map.setZoom(16);
      L.control.scale().addTo(map);
      L.marker([4.65429,-74.10076], {draggable: true}).addTo(map);
      L.marker([4.65305,-74.10158], {draggable: true}).addTo(map);
      L.marker([4.65203,-74.10194], {draggable: true}).addTo(map);

    table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicación
            th(scope='col')
            th(scope='col')
        tbody
          each bici in bicis
            tr 
              th(scope='row')
                 = bici.id
              td= bici.color
              td=bici.modelo  
              td=bici.ubicacion
              td
                a(href=`/bicicletas/${bici.id}/update`) Editar
              td
                form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                     input(type='hidden' name='id' value= bici.id)
                     button.link-button(type='submit' name='submit_param' value='submit_value')
                          = 'Eliminar'
    a(href='/bicicletas/create') Crear