block content
    a(href='/bicicletas') Volver
    br
    br
    br
    br

    h1 Modificar Bicicleta

    br
    br
    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(form='id') ID:
        input#id(type='text' name='id' value=bici.id)
        br
        label(form='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        label(form='modelo') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        label(form='lat') Latitud:
        input#lat(type='text' name='lat' value=bici.ubicacion[0])
        br
        label(form='lng') Longitud:
        input#lng(type='text' name='lng' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='OK')
